<div class="container">
  <div class="column side-bar left-column">
    <div class='avatar'>
      <%= image_tag current_user.avatar_thumbnail, class: 'avatar' %>
    </div>
    <p>dummy link</p>
    <p>dummy link</p>
    <p>dummy link</p>
    <p>dummy link</p>
  </div>
  <div class="column message-feed center-column">
    <div class="message">
      <%= render 'form', user_post: @user_post %>
    </div>
    <div class="feed">
      <%= render 'feed', user_post: @user_post %>
    </div>
  </div>
  <div class="column right-bar right-column">
    <div class="friend-choices">
      under work
    </div>
  </div>
</div>