
<%= form_for([@user_post, @user_post.comments.build]) do |f| %>
  <div>
    <%= f.text_area :message, class:'comment-box' %>
  </div>
  <%= f.submit 'Submit', class: 'button is-primary' %>
<% end %>
