<div class='users-container'>
  <% @everyone_else.each do |f| %>
    <div class='pending-user friend-obj'>
      <div class='avatar-name'>
        <div class='pending-avatar pending-layer'>
          <%= image_tag User.find(f.id).avatar_thumbnail, class: 'avatar friend_avatar' %>
        </div>
        <div class='pending-name pending-layer'>
          <%= link_to f.name, user_path(f) %>
        </div>
      </div>
      <div class='pending-choices pending-layer'>
        <%= link_to "Add",  friend_requests_path(friend_id: f.id), method: :post, class: 'button is-primary' %>
      </div>
    </div>
  <% end %>
</div>