<div class='container pending-container'>
  <div class="column side-bar left-column">
    <%= render 'user_posts/left_bar' %>
  </div>
  <div class='mid-row'>
    <h1 class='center-title'>Pending Requests</h1>
    <div class='list-container'>
    <%= render 'pending_friends' %>
    </div>
  </div>
  <div class="column right-bar right-column">
    <div class='friend-suggs'>
      <%= render 'user_posts/friend_suggestions' %>
    </div>
    <div class='friends'>
      <%= render 'user_posts/right_bar_friends' %>
    </div>
  </div>
</div>
