/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
   width: 100vw;
 }

 .notification.global-notification {
   margin: 0;
 }
  .container {
   background-color: lightgray;
   height: 100%;
  }

  .column {
    float: left;
  }
  
  .side-bar, .right-bar {
    width: 25%;
  }

  .message-feed {
    width: 50%;

    .message {
      background-color: none;
    }
  }

  .friend-choices {
    text-align: center;
  }

// @media screen and (min-width: 1408px) {
//   .container:not(.is-max-desktop):not(.is-max-widescreen) {
//       max-width: 100%;
//   }
// }