/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
   width: 100vw;
 }

 .notification.global-notification {
   margin: 0;
 }
  

  .message {
    background-color: white;
    padding: 20px;
  }
  // .message-feed {
  //   width: 50%;
  // }

  .side-bar {
    height: 100%;
  }

  .friend-choices {
    text-align: center;
  }

  .textarea:not([rows]) {
    max-height: 40em;
    min-height: 0;
  }

  //edit profile page
  .edit-title {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
  }
  .edit-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .form-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: lightblue;
      border-radius: 10px;
      padding: 20px;

      .avatar-edit-field {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .form-actions {
        text-align: center;
        margin-top: 15px;
      }
    }
  }

  .delete-account {
    width: 100vw;
    text-align: center;
  }

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 100vw;
  }
}