// Place all the styles related to the FriendRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pending-container {
  display: flex;
  flex-direction: row;
  height: 95vh;

  .mid-row {
    width: 50%;
    height: 95vh;

    .no-requests {
      text-align: center;
      font-size: 1.5em;
      padding: 1em;
      font-weight: bold;
    }
  }
}

.center-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
}

