// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.friends-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  .mid-row {
    width: 50%;
    margin: 10px;

    
    .no-friends {
      margin: 0 auto;
      font-size: 1.5em;
      padding: 1em;
      font-weight: bold;
    }
  }
}

// for both friends and pending page

.friend-obj {
  justify-content: space-between;
}

.avatar-name {
  display: flex;
  align-items: center;
}
.list-container {
  // 2 column grid
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  overflow-y: scroll;

}
.pending-user {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  width: auto;

  .pending-layer {
    padding: 0.5rem;
  }
}