// Place all the styles related to the user_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.label {
  width: 100%;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  height: 81vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

.right-bar-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: underline;
}

.friends-right-bar {
  margin-top: 1rem;
}

.friend-suggs {
  border-bottom: 1px solid black;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #E9EBEE;
}
.column {
  float: left;
}

.left-column, .right-column {
  width: 25%;
  border-radius: 2px;
}

.left-column {
  text-align: center;
  border-right: 1px solid black;
}

.right-column {
  height: 100vh;
  border-left: 1px solid black;
  display: flex;
}

.center-column {
  height: 90vh;
  width: 50%;
}

.message-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
}

.right-bar-links {
  margin-top: 1rem;
}

.left-link {
  font-size: 2rem;
}

.left-bar-link {
  padding: 1.5rem;
}

.friend_avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.friend-choices {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-between;

  .avatar-name {
    display: flex;
    align-items: center;

    .friend-name {
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}
//first child of columns


// @media screen and (min-width: 1408px) {
//   .container:not(.is-max-desktop):not(.is-max-widescreen) {
//       max-width: 100vw;
//   }
// }